@import "tailwindcss";

@theme {
  --color-light: #f5f5f5;
  --color-dark: #333333;
  --color-cream: #dfe0e2;
  --color-lighter: #efe7d3;
  --color-primary: #0099ff;
  --font-macondo: "Macondo Swash Caps", cursive;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-grotesk: "Space Grotesk", sans-serif;
}

/* .scroll-bar::-webkit-scrollbar {
  width: 6px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #005d47be;
  border-radius: 5px;
}

.scroll-bar::-webkit-scrollbar-track {
  background-color: #fcfcfc;
} */

html {
  scroll-behavior: smooth;
}
